header {
    background-color: rgb(233, 243, 238);
    padding: 30px 0;
    
}

body {
    background-image: url(IMAGES/IMAGE\ ARRIERE\ PLAN.png);
    background-size: cover;
}

.logo img {
    width: 100px;
    height: 100PX;
    top: 13px;
    left: 15px;
    position: absolute;
}

.menu{display: flex;
    justify-content: center;
    align-items: center;
    }
    
    ul li{
        display: inline-block;
        margin-right: 30px;
        
    }

    .connect img{
        width: 110px;
        position: absolute;
        top: 10px;
        right: 40px;
    }

    /* Style du conteneur du formulaire */
.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les groupes d'entrées */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style pour le bouton d'action */
.input-action {
    text-align: right;
}

#buttonAddAvis {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

#buttonAddAvis:hover {
    background-color: #2980b9;
}
